<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>File Breaker</title>
<link href="../static/css/Layout.css"
	th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h1>Excel File Breaker</h1>
		<form method='post' enctype="multipart/form-data">
		<label for='file'>Excel File:</label>
		<input type='file' name='file' id='file'></input>
		<button type='submit'>Submit</button>
		</form>
	</div>
</body>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</html>